* {
  margin: 0;
  padding: 0;
}
.feedback-content .head .dicHead .manager {
  width: 9.5%;
  height: 33px;
  margin-left: 3.5%;
  margin-top: 15px;
  font-size: 20px;
  color: #ffffff;
  float: left;
  position: relative;
  left: -6%;
}

.feedback-content .tab:nth-child(2){
  margin-left:1.5%;
}
.feedback-content .tab:nth-child(3){
  margin-left:3.5%;
}
.feedback-content .tab:nth-child(4){
  margin-left:3.5%;
}
.feedback-content .tab:nth-child(5){
  margin-left:3.5%;
}
.feedback-content .tab:nth-child(6){
  margin-left:3.5%;
}
.feedback-content .tab:nth-child(7){
  margin-left:3%;
}

.feedback-container {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.feedback-container .side-bar  {
  flex: 1;
  background:#13182E;
}

.feedback-container .menu-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
}
.feedback-container .menu-list .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  background: transparent!important;
}
.feedback-container .menu-list .ant-tree li .ant-tree-node-selected {
  background-color: #0069D1!important;
  border-radius: 0;  
}
.feedback-container .menu-list .ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: #0069D1!important;
}
.feedback-container .menu-list span{
  /* background-color: transparent!important; */
  color: #fff!important;
}
/*.menu-list>.ant-tree>li:hover{
  background:#0069D1 !important;
  color: #FFFFFF !important;
}*/
.feedback-container .menu-list a {
  color: #fff;
}
.feedback-container .menu-list .sub-menu {
  padding: 1em 0 0 2em
}
.feedback-container .menu-list .sub-menu .li-link {
  display: block;
  padding:  .5rem 0 
}
.rt-td {
  text-align: center
}

.feedback-container .feedbacks {
  flex: 6;
}

/*操作action*/
.feedbacks .action-bar{
  display: flex;
  vertical-align:bottom;
  background: #fff;
  padding:1.5rem;
  justify-content: space-between;
  margin:0  1.5rem;
  margin-top:10px; 
  border-radius:5px; 
  box-shadow: 0px 0 0px #B8B8B8, 0 2px 4px #E6E6E6;
}
.feedbacks .action-bar .menu-item{
  display: flex;
  flex-direction: column;
  color: gray;
  cursor: pointer;
}
.feedbacks .action-bar .menu-item:hover{
  background: #3299FF;
  color: #FFFFFF;
  border-radius: 5px;
}

.feedbacks .ant-table table .ant-table-thead th:first-child {
  border-radius: 0;
}

.feedbacks .ant-table table .ant-table-thead th:last-of-type {
  border-radius: 0;
} 

.feedbacks .action-bar .menu-item:first-child:hover .menu-item-image {
  background-image: url(../images/actions/add_synonym_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(2):hover .menu-item-image {
  background-image: url(../images/actions/add_key_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(3):hover .menu-item-image {
  background-image: url(../images/actions/pass_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(4):hover .menu-item-image {
  background-image: url(../images/actions/reject_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(5):hover .menu-item-image {
  background-image: url(../images/actions/undo_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(6):hover .menu-item-image {
  background-image: url(../images/actions/restore_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(7):hover .menu-item-image {
  background-image: url(../images/actions/delete_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(8):hover .menu-item-image {
  background-image: url(../images/actions/records_bg.png) !important;
}

.feedbacks .action-bar .menu-item:nth-child(9):hover .menu-item-image {
  background-image: url(../images/actions/filter_bg.png) !important;
}

.feedbacks .action-bar .menu-item-span{
  display: block;
  width: 80px;
  height:40px;
  line-height:40px;
  text-align: center;
}
.feedbacks .action-bar .menu-item-image{
  margin:7px auto;
  width: 20px;
  height: 20px;
}
/*表格style*/
.feedbacks .list-table{
  padding: 1rem;
  display: flex;
} 

.feedbacks .list-table .table {
  flex: 4;
}
/*反馈处理添加逐渐同义词模态框*/
.backList {
  width: 100%;
  background: #fff;
}
.modalImport {
  width: 450px;
  height: 40px;
  border: 1px solid #E8E8E8;
}
.modalSelect {
  width: 24px;
  height: 24px;
  float: left;
  margin: 8px;
}
.modalInput {
  float: left;
  width: 330px;
  height: 40px;
  display: inline-block;
  border: 0px;
  outline:none;
}
.modalInfo {
  width: 80px;
  float: right;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background: #0069D1;
  cursor: pointer;
}

.ant-modal-footer {
  margin-top: 60px !important;
}

.selectTable {
  height: 96px;
  margin-top: 1rem;
  overflow: hidden;
  overflow-y: auto;
}
.selectLi {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
}
.selectedLi {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1890ff;
  color: #fff;
}
.selectLi:nth-of-type(odd) {
  background: #F3F8FE;
}

.selectLi:hover{
  background: #1890ff;
  color: #fff;
}

.feedbacks .ant-pagination-options-quick-jumper input {
  margin-top: -1px!important;
  padding-top: 0px!important; 
  padding-bottom: 0px!important; 
}